@model IList<PickAndBook.Data.Models.Category>

<div class="jumbotron row">
    @*<p class="lead">Time: @ViewBag.Current</p>*@
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="categoryImage col-md-4" style="background:url(@Model[i].CategoryImage) center 100%">
            <h2>@Model[i].CategoryName</h2>
            <p class="lead">@Model[i].CategoryDescription</p>
            @Html.ActionLink("View companies", "ByCategory", "CompanyAnonymous", new { categoryId = @Model[i].CategoryId }, new { Area = "" })
       </div>
    }
</div>